.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: var(--header-background);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 24px;
  color: var(--text-color);
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: var(--background-color);
  overflow-y: auto;
}

.content {
  flex: 1;
  background-color: var(--background-color);
  padding: 20px;
  overflow-y: auto;
}